<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>新規登録</title>
</head>
<th:block layout:fragment="layout-content">
    <div class="login-form-box">
        <h1 class="login-form-box-header">新規登録</h1>
        <div class="login-form-box-body">
            <div class="login-form-box-body-inline">
                <form th:action="@{/accounts/registration}" method="post" action="" class="register-account-send-mail-form">
                    <div class="register-form-header">ユーザー情報</div>
                    <input name="token" type="hidden" th:value="${token}"/>
                    <input name="mail" disabled class="register-form-mail" type="email" th:value="${mail}">
                    <input name="username" class="register-form-mail" type="text" placeholder="ユーザー名">
                    <input name="password" class="register-form-mail" type="password" placeholder="パスワード">
                    <input name="passwordConfirm" class="register-form-mail" type="password" placeholder="パスワード(確認)">
                    <button class="register-form-submit" type="submit">登録</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>
