<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
    <head>
        <title>新規登録</title>
    </head>
    <th:block layout:fragment="layout-content">
        <div class="login-form-box">
            <h1 class="login-form-box-header">新規登録</h1>
            <div class="login-form-box-body">
                <div class="login-form-box-body-inline">
                    <form action="" class="register-account-send-mail-form">
                        <div class="register-form-header">メールアドレスで登録</div>
                        <input class="register-form-mail" type="text" placeholder="メールアドレス">
                        <button class="register-form-submit" type="submit">メール送信</button>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</html>
