<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>新規登録</title>
</head>
<th:block layout:fragment="layout-content">
    <div class="login-form-box">
        <h1 class="login-form-box-header">新規登録</h1>
        <div class="login-form-box-body">
            <div class="login-form-box-body-inline">
                <div class="register-form-header">無効なリンクです。はじめから新規登録を行ってください。</div>
            </div>
        </div>
    </div>
</th:block>
</html>
