@import "flat_design_colors_full";
@import "~ress";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "component/_form";
@import "common";
@import "component/_floor";
@import "top/style";
@import "register_account";
@import "floor";

* {
  color: $asbestos-900;
}

body {
  background-color: $silver-50;
}