@import "flat_design_colors_full";

.register-account-send-mail-form {
  .register-form-header {
    font-size: 18px;
  }
  .register-form-mail {
    width: 100%;
    margin: 8px 0;
  }

  .register-form-submit {
    margin-top: 16px;
  }
}