<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="." th:href="@{/assets/style.css}">
</head>
<body>
<div class="header">
    <div class="header-content">
        <h1 class="site-logo">Shop Demo</h1>
        <div class="links">
            <a href="" th:href="@{/signup}">ユーザー登録</a>
            <a href="">サークル登録</a>
        </div>
    </div>
</div>
<div class="toppage-content"></div>
<div class="toppage-main"></div>
<div></div>
</body>
</html>