<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Demo</title>
    <link rel="stylesheet" href="." th:href="@{/assets/style.css}">
</head>
<body>
<div class="toppage-header">
    <div class="toppage-header-content">
        <h1 class="toppage-site-logo">Shop Demo</h1>
        <div class="toppage-links">
            <a href="" th:href="@{/accounts/registration/mail}">ユーザー登録</a>
            <a href="">サークル登録</a>
        </div>
    </div>
</div>
<div class="toppage-content"></div>
<div class="toppage-main"></div>
<div></div>
</body>
</html>