<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/floor_base">
<head>
    <title>Shop Demo</title>
</head>
<th:block layout:fragment="left">
    <div class="side-menu-box">
        <h2>サイドメニュー</h2>
        <ul class="side-menu">
            <li><a href=""><i class="fas fa-star"></i> メニュー1</a></li>
            <li><a href=""><i class="fas fa-star"></i>メニュー2</a></li>
            <li><a href=""><i class="fas fa-star"></i>メニュー3</a></li>
        </ul>
    </div>
    <div class="side-menu-box">
        <h2>作品特集</h2>
    </div>
</th:block>

<th:block layout:fragment="right">
    <div class="side-menu-box">
        <h2>週間ランキング</h2>
    </div>
</th:block>

<th:block layout:fragment="center">
    <section>
        <h1 class="section-title">新着作品</h1>
        <section>
            <h1 class="section-title">ゲーム</h1>
            <div class="product-list" data-api-url="">

            </div>
        </section>
    </section>
</th:block>
</html>
