<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Shop Demo</title>
    <link rel="stylesheet" href="." th:href="@{/assets/style/application.css}">
    <meta id="_csrf" th:value="${_csrf.getToken()}"/>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div>
            <a href="" class="header-link">同人</a>
            <a href="" class="header-link">コミック</a>
            <a href="" class="header-link">PCソフト</a>
        </div>
        <div>
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" href="/logout" class="header-link">ログアウト</a>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
                <a th:href="@{/accounts/registration/mail}" href="/accounts/registration/mail" class="header-link">新規登録</a>
                <a th:href="@{/login}" href="/login" class="header-link">ログイン</a>
            </th:block>
        </div>
    </div>
    <div class="content-wrapper" layout:fragment="layout-content-wrapper">
        <th:block layout:fragment="layout-content">
            <p>Default layout content</p>
        </th:block>
    </div>
</div>
<div data-th-data-initial-data="${initialData.toJsonString()}" id="initialData"></div>
<script>document.write('<script src="http://'
    + location.host.split(':')[0]
    + ':35729/livereload.js"></'
    + 'script>')
</script>
<script th:src="@{/assets/js/application.js}"></script>
</body>
</html>